


/*semantic elements*/
body {
text-align: center;
margin: 0;
}

/*todo: why isn't 'white' working for header and have? */
header {
    background-color: #F15B31;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    
}

nav {
    background-color: #00A6B3;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    
}

main {
    width: 850px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: auto;
    margin-left: auto;
    
}


footer {
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
    
    
}

/*other elements*/

h1 {
font-family: "Raleway", sans-serif;
color: #0D2C40;
letter-spacing: 1px;
font-weight: 400;
font-size: 45px;
margin:0;

 
}


h2 {
  
font-family: "Raleway", sans-serif;
color: ##0D2C40;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;  
    
}


img {
    margin-top: 40px;
    margin-right: 8px;
    margin-left: 8px;
    
}

a {
  
font-family: "Raleway", sans-serif;
color: #F15B31;
letter-spacing: 1px;
font-weight: 600;
font-size: 18px;  
border-bottom: 2px solid transparent;
    
}

/*classes*/
.copyright {
    
    float: left
}

.message {
    float: right
    
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

/*pseudoclasses*/
a:hover {
    border-color: white;
}

